<div class="container" id="under-head">
  
    <header class="header span12 row-fluid">
    
        <img class="logo" src="/images/logo.png" />

        <div class="span6 header-nav">
          
            <div class="form-inline" id="login_block"> 
            </div>
          
            <div id="next-tickets" class="dropdown next-ticket">  
            </div>
        </div>
  
    </header>
  

    <div id="mts-application" class="row-fluid span12">

        

    </div>

    <div id="tab3" class="row-fluid span12">
        
        <div class="span2" >
            <h4 class="muted">Administration</h4>
            <div id="admin_navigation" class="dropdown">
            </div>
        </div>
        <div id="admin_panel" class="span8 offset1">
            <div id="admin_dashboard">
            </div>  
        </div>
    </div>
   

</div>

