<div class="container main-container">
  
    <header class="header span12 row-fluid">
    
        <img class="logo" src="/images/logo.png" />

        <div class="span6 header-nav">
          
            <div class="form-inline" id="login_block"> 
            </div>
          
            <div id="next-tickets" class="dropdown next-ticket">  
        	</div>
        
        </div>
  		

    </header>
  

    <div id="mts-application" class="row-fluid span12">

        

    </div>
   
</div>

