<div id="specializations">
  
</div>
     <div> 
     	<ul class="doctors">
    
     	</ul>
    </div>
<div class="span9">
						<h4 class="muted"> Work time:</h4>
						<table class="table table-bordered table-condensed" id="weekly-table" style="display:none"> 
							<thead>
								<tr>
									<td>Name / Day</td>
								</tr>
							</thead>
							<tbody>
							
							</tbody>
						</table>

	<div id="daily_schedules">

	</div>