
<div id="specializations">
</div>

 <div> 
 	<ul class = "doctors" />
 </div>

<div id = "tickets" />
 
</div>


<div class="span9" id="weekly-table">

</div>

<h4 class="muted">Daily Schedules</h4>
<div id="daily_schedules">

</div>
