<div class="container" id="under-head">

  <!-- Header with login -->
  <div class="row-fluid">
  <div class="span12">

    <!-- Header -->
    <div class="span6">
      <header></header>
    </div>
    
    <!-- Log In -->
    <div class="span6">
      <div class="form-inline" id="login_block">
        
      </div>
    </div>

  </div>
  </div>

    <!-- Choise specialize/doctors. Tables -->
  <div id="" class="row-fluid span12">
    
    <!-- <div class="span12"> -->
      <div class="span2">
        <h4 class="muted">Specializations</h4>
        
        <div id="specializations" class="dropdown clearfix">
           
        </div>  

        
        <h4 class="muted">Doctors List</h4> 
        
        <div id="doctors" class="dropdown doctors">
          
        </div>      
      </div>

      <div class="span8">
        
        <div class="hidden" id="weekly-table">
        </div>
       
        <div id="daily_schedules"> 
        <!--current week schedule testing-->
        </div>
        <div id="current_schedules">
        </div>
      </div>

      <div class="span2">
        <h4 class="muted">My tickets</h4>
<!-- User next ticket -->
        <div id="next-tickets" class="dropdown clearfix">
          
        </div>      
        
      </div>
    <!-- </div> -->
  </div>

</div>

<!-- User week ticket -->

<div class="container" id="under-head">


    <div id="week_user_tickets"> 
    </div> 
</div>     
