<div class="container" id="under-head">

  <!-- Header with login -->
  <div class="row-fluid">
  <div class="span12">

    <!-- Header -->
    <div class="span4">
      <header></header>
    </div>
    
    <!-- Log In -->
    <div class="span8">
      <div class="form-inline" id="login_block">
        <!-- <input type="text" class="input-small" placeholder="E-mail">  
        <input type="password" class="input-small" placeholder="Password"> 
        <label class="checkbox"> <input type="checkbox"> Remember me </label>  
        <button type="submit" class="btn btn-info">Sign in</button>-->
      </div>
    </div>

  </div>
  </div>

    <!-- Choise specialize/doctors. Tables -->
  <div id="" class="row-fluid">
    <div class="span12">
      <div class="span3">
        <h4 class="muted">Specializations</h4>
        
        <div id="specializations" class="dropdown clearfix">
           
        </div>  

        <h4 class="muted">Doctors List</h4>
        
        <div id="doctors" class="dropdown doctors">
           
        </div>      
      </div>

      <div class="span9">
        
        <div class="hidden" id="weekly-table">
 
        </div>
       
        <div id="daily_schedules">
        
        <!--current week schedule testing-->
        </div>
       
        <div id="current_schedules">
         
        </div>
      </div>
    </div>
  </div>

</div>
<!-- User next ticket -->
<div id="next-tickets">
           
        </div>  



<!-- User week ticket -->

<div class="container" id="under-head">


    <div id="week_user_tickets"> 
    </div> 
</div>     
