
<div id="specializations">
</div>

 <div> 
 	<ul class = "doctors" />
 </div>

<div id = "tickets" />
 
</div>


<div class="span9" id="weekly-table">

</div>

<h4 class="muted">Daily Schedules</h4>
<div id="daily_schedules">

</div>

<!--   
<div class="span3">
  <h4 class="muted">Specializations</h4>
  
  <div id="spec_list" class="dropdown clearfix">
     
  </div>  

  <h4 class="muted">Doctors List</h4>
  
  <div id="doctor_list" class="dropdown">
    
  </div>      
</div>


<div class="span9">
  <h4 class="muted"> Work time:</h4>
  <div id="week_schedule">
  
  </div>

  <h4 class="muted"> Work time-period:</h4>
  <div id="day_schedule">
   
  </div>
</div>
 -->