<div class="span3">
  <h4 class="muted">Specializations</h4>
  
  <div id="specializations" class="dropdown clearfix">
     
  </div>  

  <h4 class="muted">Doctors List</h4>
  
  <div id="doctors" class="dropdown doctors">
     
  </div>      
</div>


<div class="span9">
  <h4 class="muted"> Work time:</h4>
  <div id="weekly-table">
  
  </div>
 
  <h4 class="muted"> Work time-period:</h4>
  <div id="daily_schedules">
   
  </div>
</div>
