<div id="specializations">
  
</div>
     <div> 
     	<ul class="doctors">
    
     	</ul>
    </div>
<div class="span9">
						<h4 class="muted"> Work time:</h4>
						<table class="table table-bordered table-condensed" style="display:none"> 
							<thead>
								<tr>
									<td>Name / Day</td>
									<td>Sunday</td>
									<td>Monday</td>
									<td>Tuesday</td>
									<td>Wednesday</td>
									<td>Thursday</td>
									<td>Friday</td>
									<td>Saturday</td>
								</tr>
							</thead>
							<tbody>
								<tr> 
									<td>Lovchikov</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr> 
									<td>Nor</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr> 
									<td>Neshadym</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr> 
									<td>Shevtchuk</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr> 
									<td>Shulin</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>

	<div id="daily_schedules">

	</div>