<div class="modal-header">
    <h5 class="muted">New doctor</h5>
</div>
<div class="modal-body">
    <p><input id="doctor_name" type="text" size="15" placeholder="Name"></p>
    <p><input id="doctor_spec" type="text" size="15" placeholder="Specialization"></p>
    	<h6 class="muted">choose duration</h6>
    <p>
	    <input name="dur" type="radio" value="15">
	    <input name="dur" type="radio" value="30">
	    <input name="dur" type="radio" value="45">
	    <input name="dur" type="radio" value="60">
    </p>
</div>
<div class="modal-footer"> 
    <button class="btn btn-success">Go!</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
</div>