<div class="accordion-heading">

    <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#doctor_<%= id %>" data-parent="#accordion2" href="#doctor_<%= id %>">
       <%= name %> 
    </a>

</div>
<div id="doctor_<%= id %>" class="accordion-body collapse in">
    <div class="accordion-inner">
    <!--schedules go here-->
    </div>
</div>
