<div class="modal-header">
    <h5 class="muted">Enter values:</h5>
</div>
<div class="modal-body">

</div>
<div class="modal-footer"> 
    <button class="btn btn-success">Go!</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
</div>