<div class="modal-header">
	<h5 class="muted">New schedule</h5>
</div>
<div class="modal-body">
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div class="modal-footer"> 
    <button class="btn btn-success">Go!</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
</div>