<div class="accordion-heading">

    <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#doctor_<%= id %>" data-parent="#accordion2" >
       <%= name %>
    </a>

</div>
<div id="doctor_<%= id %>" class="accordion-body collapse">
    <div class="accordion-inner">
    <!--schedules go here-->
    <span class="admin_actions">
       	<button class="btn btn-success btn-small admin_item_new">New</button>
    </span>
    </div>
</div>
