<div class="modal-header">
    <h5 class="muted">Item deletion</h5>
</div>
<div class="modal-body">
    <p>Delete item with id <strong><%= id %></strong> ?</p>
</div>
<div class="modal-footer"> 
    <button class="btn btn-success">Yes</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">No</button>
</div>