<td>
	<%= id %>
</td>
<td>
	<%= name %>
</td>
<td class="admin_actions">
	<button class="btn btn-info btn-mini admin_item_edit hidden">Edit</button>
	<button class="btn btn-danger btn-mini admin_item_delete hidden">Delete</button>
</td>