  <caption>
    <h5 class="muted">Users list</h5>
  </caption>
  <thead>
   	  <td><strong>Id</strong></td>
      <td><strong>Name</strong></td>
      <td><strong>Password</strong></td>
      <td><strong>Email</strong></td>
      <td><strong>Role</strong></td>
      <td><button class="btn btn-success btn-small admin_item_new">New</button></td>
   </tr>
  </thead>
  <tbody id="dashboard_content">

  </tbody>




