<div class="modal-header">
    <h5 class="muted">New doctor</h5>
</div>
<div class="modal-body">
    <p><input id="doctor_name" type="text" size="15" placeholder="Name"></p>
    <select id="spec_select_list" name="doctor_spec">
        <option disabled>Select a spec</option>
    </select>

    	<h6 class="muted">choose duration</h6>
    <p>
	    <input name="dur" type="radio" value="15"> 15
	    <input name="dur" type="radio" value="30"> 30
	    <input name="dur" type="radio" value="45"> 45
	    <input name="dur" type="radio" value="60"> 60
    </p>
</div>
<div class="modal-footer"> 
    <button class="btn btn-success">Go!</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
</div>