  <caption>
    <h5 class="muted">Users list</h5>
  </caption>
  <thead>
   	  <td>Id</td>
      <td>Name</td>
      <td>Password</td>
      <td>Email</td>
      <td>Role</td>
      <td><img src="/images/new.png" class="admin_item_new"></td>
   </tr>
  </thead>
  <tbody id="dashboard_content">

  </tbody>




