<table class="table table-hover table-striped table-condensed">
	<caption>
	<h5 class="muted">Specializations list</h5>
	</caption>
  <thead>
   	  <td>Id</td>
      <td>Name</td>
      <td><img src="/images/new.png" class="admin_item_new"></td>
   </tr>
  </thead>
  <tbody id="dashboard_content">

  </tbody>
</table>