<div class="modal-header">
    <h5 class="muted">Enter values:</h5>
</div>
<div class="modal-body">
    <p><input id="user_email" type="text" size="15" placeholder="E-mail" value="<%= email %>"></p>
    <p><input id="user_name" type="text" size="15" placeholder="Name" value="<%= name %>"></p>
    <p><input id="user_password" type="password" size="15" placeholder="Password" value="<%= password %>"></p>
    <h6 class="muted">choose role</h6>
    <p>
	    <!--<input name="role" type="radio" value="doctor">Doctor -->
	    <input name="role" type="radio" value="patient">Patient
        <input name="role" type="radio" value="admin">Admin
        <input name="role" type="radio" value="blocked"><span id="blocktext">Blocked</span>
    </p>
</div>
<div class="modal-footer"> 
    <button class="btn btn-success">Go!</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
</div>