<div class="modal-header">
	<h5 class="muted">New schedule</h5>
</div>
<div class="modal-body">

	<select id="select_list" name="doctor">
        <option disabled>Select a doctor</option>
    </select>

	<table id="new_schedule" class="table table-condensed">
		<tr>
			<td>
				<strong>Sun: </strong>
			</td>
			<td>
				<input id="sun-start" type="text" size=5 value="8:00"> - 
			</td>
			<td>
				<input id="sun-end" type="text" size=5 value="17:00">
			</td>
		</tr>
		<tr>
			<td>
				<strong>Mon: </strong>
			</td>
			<td>
				<input id="mon-start" type="text" size=5 value="8:00"> - 
			</td>			
			<td>
				<input id="mon-end" type="text" size=5 value="17:00">
			</td>
		</tr>
		<tr>
			<td>
				<strong>Tue: </strong>
			</td>
			<td>
				<input id="tue-start" type="text" size=5 value="8:00"> - 
			</td>
			<td>
				<input id="tue-end" type="text" size=5 value="17:00">
			</td>
		</tr>
		<tr>
			<td>
				<strong>Wed: </strong>
			</td>
			<td>
				<input id="wed-start" type="text" size=5 value="8:00"> - 
			</td>
			<td>
				<input id="wed-end" type="text" size=5 value="17:00">
			</td>

		</tr>
		<tr>
			<td>
				<strong>Thu: </strong>
			</td>
			<td>
				<input id="thu-start" type="text" size=5 value="8:00"> - 
			</td>
			<td>
				<input id="thu-end" type="text" size=5 value="17:00">
			</td>
		</tr>
		<tr>
			<td>
				<strong>Fri: </strong>
			</td>
			<td>
				<input id="fri-start" type="text" size=5 value="8:00"> - 
			</td>
			<td>
				<input id="fri-end" type="text" size=5 value="17:00">
			</td>
		</tr>
		<tr>
			<td>
				<strong>Sat: </strong>
			</td>
			<td>
				<input id="sat-start" type="text" size=5 value="8:00"> - 
			</td>
			<td>
				<input id="sat-end" type="text" size=5 value="17:00">
			</td>
		</tr>
	</table>
</div>
<div class="modal-footer"> 
    <button class="btn btn-success">Go!</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
</div>