<td>
	<%= id %>
</td>
<td>
	<%= name %>
</td>
<td class="admin_actions">
  <img class="admin_item_edit hidden" src="/images/edit.png">
  <img class="admin_item_delete hidden" src="/images/remove.png">
</td>