<p id="notice"><%= notice %></p>

<p>
  <b>Missing count:</b>
  <%= @user_status.missing_count %>
</p>


<%= link_to 'Edit', edit_user_status_path(@user_status) %> |
<%= link_to 'Back', user_statuses_path %>
