<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @specialization.name %>
</p>


<%= link_to 'Edit', edit_specialization_path(@specialization) %> |
<%= link_to 'Back', specializations_path %>
