<!-- Template -->
<input id="in_login" type="text" class="input-small" placeholder="E-mail">
<input id="password" type="password" class="input-small" placeholder="Password">

<!-- <label class="checkbox"> <input type="checkbox"> Remember me </label>  -->

<button id="btn_login" type="submit" class="btn btn-info">Sign in</button>