<!-- Template -->
<input id="in_login" type="text" class="input-medium search-query" placeholder="E-mail">

<input id="password" type="password" class="input-medium search-query" placeholder="Password">

<!-- <label class="checkbox"> <input type="checkbox"> Remember me </label>  -->

<button id="btn_login" type="button" class="btn btn-info">Sign in</button>

<div id="login_error" class="alert alert-error hidden"> 
  <button id="close" type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Login Error!</strong>Check input items!
</div> 
    