<!-- Template -->
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand">Hello, <%= name %> </a>
    <ul class="nav">
      <li class="divider-vertical"><a href="#">Home</a></li>
      <li class="divider-vertical"><a href="#">My shcedule</a></li>
    </ul>
  </div>
</div>
