<!-- Template -->
<div  class="navbar">
    <div id="role_nav" class="navbar-inner user-navigate">
        <p class="brand">Hello, <%= name %> </p>
        
        <ul class="nav" id="user-navigate">
          <li id="home-action" class="user-nav-action active">
                <p class="nav-action-name">
                    Home
                </p>
            </li>
            
            <li id="user-permiosions" class="user-nav-action dropdown">
                <p class="dropdown-toggle nav-action-name" data-toggle="dropdown" >
                    Actions
                    
                    <span class="caret"></span>
                </p>
                    
                <ul class="dropdown-menu dropdown-menu-action" role="menu" aria-labelledby="dLabel">
                    <% if(permition.my_schedule) { %>
                        <li class="" id="private-schedule">
                            <span class="nav-action-item"> 
                                My private schedule
                            </span>
                        </li>
                    <% } %>

                    <% if(permition.doctor_schedule) { %>
                        <li id="doctor-schedule"> 
                            <span class="nav-action-item"> 
                                My work scheedule
                            </span>
                        </li>
                    <% } %>

                    <% if(permition.admin_panel) { %>
                        <li id="admin-panel">
                            <span class="nav-action-item"> 
                                Admin Panel
                            </span>
                        </li>
                    <% } %>
                </ul>

            </li>
        
            <li class="user-nav-action" id="exit-action">
                <p class="nav-action-name">
                    Exit
                </p>
            </li>
        </ul>
    </div>
</div>
