<!-- Template -->
<div class="navbar">
  <div class="navbar-inner">
    <p class="brand">Hello, <%= name %> </p>
    <ul class="nav">
      <li id="home" class="active">Home</li>
      <li id="private_schedule" class="divider-vertical">My shcedule</li>
      <li id="exit">Exit</li>
    </ul>
  </div>
</div>
