<!-- Template -->
<div  class="navbar">
    <div id="role_nav" class="navbar-inner user-navigate">
        <p class="brand">Hello, <%= name %> </p>
        
        <ul class="nav">
          <li id="home" class="active">
                <p class="nav-action-name">
                    Home
                </p>
            </li>
            
            <li class="dropdown">
                <p class="dropdown-toggle nav-action-name" data-toggle="dropdown" >
                    Actions
                    
                    <span class="caret"></span>
                </p>
                    
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <% if(permition.my_schedule) { %>
                        <li class="" id="private-schedule"> My private schedule</li>
                    <% } %>

                    <% if(permition.doctor_schedule) { %>
                        <li id="doctor-schedule"> My work scheedule</li>
                    <% } %>

                    <% if(permition.admin_panel) { %>
                        <li id="admin-panel"> Admin Panel</li>
                    <% } %>
                </ul>

            </li>
        
            <li id="exit">
                <p class="nav-action-name">
                    Exit
                </p>
            </li>
        </ul>
    </div>
</div>
