<!-- Template -->
<div  class="navbar">
  <div id="role_nav" class="navbar-inner">
    <p class="brand">Hello, <%= name %> </p>
    <ul class="nav">
      <li id="home" class="active"><p>Home</p></li>
      <li id="private_schedule"><p>My shcedule</p></li>
      <li id="exit"><p>Exit</p></li>
    </ul>
  </div>
</div>
