<!-- Template -->
<div class="navbar">
  <div class="navbar-inner">
    <p class="brand">Hello, <%= name %> </p>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li class="divider-vertical"><a href="#">My shcedule</a></li>
      <li><a href="#">Exit</a></li>
    </ul>
  </div>
</div>
