<div id="tab1" class="action-block">
    <div id="left_block" class="span2">

        <h4 class="muted">Specializations</h4>
        
        <div id="specializations" class="dropdown">
        </div>  
        
        <h4 class="muted doc_list_h hidden" >Doctors List</h4>
        
        <div id="doctors" class="dropdown doctors">
        
        </div>      
    </div>

    <div class="span10">

       <div id = "week_block"> 

         <div class="hidden weekly-table" id="weekly-table">
         </div>
       
       </div> 
         
        <div id="daily_schedules"> 
        </div>

      </div>
</div>