<div id="tab2" class="action-block">

   <div id = "block_schedules">
    <div id="current_schedules">
    </div>
   </div> 
     

   <div id="block_user_tickets">
     
     <div id="week_user_tickets"> 
     </div>
   
   </div>
   
</div> 