<table class="table table-bordered table-condensed"> 
    <caption ><h4 class="muted">Work time:</h4></caption>
	<thead>
		<tr>
            <td>
                Day/<p>Doctor name</p>  
            </td>
            <%for(day in schedule) {%>
    			
                <td class="weekly-table-day" id="weekly-<%= day %>">
                    <p>
                         <%= day %>
                    </p>
                    
                    <%= schedule[day] %>
                </td>
            
            <%}%>
		</tr>
	</thead>
	<tbody>
	
	</tbody>
</table>