<table class="table table-bordered table-condensed"> 
    <caption ><h4 class="muted">Work time:</h4></caption>
	<thead class="weekly-table-head">
		<tr>
            <td>
                Days / Doctor name  
            </td>
            <%for(day in schedule) {%>
    			
                <td class="weekly-table-day" id="weekly-<%= day %>">
                    <p class="day-name">
                         <%= day %>
                    </p>
                    
                    <p class="day-date">
                        <%= schedule[day] %>
                    </p>
                </td>
            
            <%}%>
		</tr>
	</thead>
	<tbody>
	
	</tbody>
</table>