<table class="table table-bordered table-condensed">
  <caption>
    <h4 class="muted">Tickets list</h4>
  </caption>
  <thead>
   <tr>
      <td>Id</td>
      <td>User id</td>
   	  <td>Doctor id</td>
      <td>Date</td>
      <td>Time</td>
      <td>Status</td>
   </tr>
  </thead>
  <tbody id="dashboard_content">

  </tbody>
</table>