<table class="table table-bordered table-condensed">
  <thead>
   <tr>
   	  <td>Doctor id</td>
      <td>Doctor schedule</td>
   </tr>
  </thead>
  <tbody id="dashboard_content">

  </tbody>
</table>