<table class="table table-bordered table-condensed">
  <thead>
   <tr>
   	  <td>Id</td>
      <td>Name</td>
      <td>Duration</td>
   </tr>
  </thead>
  <tbody id="dashboard_content">

  </tbody>
</table>