 #specializations li {
 list-style: none;
   width: 150px;
   padding: 5px;
 }

#specializations li:hover, .active:hover {
   background-color: yellow; 
}

.selected_spec, .active{
	background-color: yellow; 
}
