.main-container{
    margin:20px auto 0;
}

.header {
    margin:0 0 10px;

    .logo{
        width: 394px;
        height: 152px;
        float:left;    
    }
    .header-nav{
        float:right;
    }
}

#DocTable {
    text-align: center;
}

#list, #work-time {
    margin: 30px 0 20px 0;
    
}

.weekly-table {
    padding: 10px 20px 10px;
   
    .weekly-top-info{
        text-align:center;
        vertical-align:middle;
    }
    .weekly-table-day{
        text-align:center;
        font-weight:bolder;
        vertical-align:middle;
    }
    
    .weekly-table-head{
        text-align:center;
    }
    
    .weekly-table-day:hover{
        cursor:pointer;
    }
    
    .weekly-table-day .day-name{
        text-transform: capitalize;
    }
    
    .schedule-name{
        text-align:center;
        vertical-align:middle;
        font-weight:bolder;
        font-style:oblique;
    }
    
    .schedule-name:hover{
        cursor:default;
    }
    
    .schedule-item{
    
    }
    
    .schedule-item.active{
      
    }
}

.user-navigate{
    
    .nav-action-name{
        float: none;
        padding: 10px 15px 10px;
        color: #777777;
        text-decoration: none;
        text-shadow: 0 1px 0 #ffffff;
        cursor:pointer;


    }

    .nav-action-item{
        cursor:pointer;

        &:hover{
            background:#5ce0da;
        }
    }

    .user-nav-action{
        cursor:pointer;
    }

    .nav > .active > .nav-action-name,
    .nav > .active > .nav-action-name:hover
    .nav > .active > .nav-action-name:focus{
        color: #555555;
        text-decoration: none;
        background-color: #e5e5e5; 
    }

    .dropdown-menu-action .nav-action-item{
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 20px;
        color: #333333;
        white-space: nowrap;
    }
} 

.drop_menu_block {
    display: block; 
  min-width: 140px;
    position: static;
}

#list_item {
    background: #5adfd9;    
}

#list {
    width: 120px;
}

#work-time table {
    /*margin-top: 10px;*/
    width: 710px;
}

.next-tickets {
  padding: 5px 5px 5px;
}

.select_ticket
{
  background-color: green !important;
}


.time_row span { 
  height: 24px;
  width: 21%;
  background: #e5e5e5;
  display: block;
  float: left;
  margin: 1px;

}

.default_ticket
{
  background-color: green !important;
}

.missed_ticket
{
    background-color: red !important;

}

.visited_ticket 
{
    background-color: yellow !important;

}

.canceled_ticket 
{
    background-color: white !important;

}

.timeline {
    height: 40px;
    float: left;
    margin-right: 1px;
    background-color: lightblue; 
}

#daily_schedules thead td, #current_schedules thead td {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

#daily_schedules tbody td, #current_schedules tbody td {
    padding: 0px;
}

.timelines .worktime {
    background-color: #0000ff;
}

 .doctors
 {
   list-style: none;
 }

 .doctors li
 {
   padding: 5px;
 }
 .doctors li:hover 
 {
   background-color: #5ce0da; 
 }
 
 .selected_doctor
 {
   background-color: #55cac5; 
 }
 
 
 /* fix floating bug in spec list */
#specializations .dropdown-menu, #admin_navigation .dropdown-menu{
float:none;
} 
 
 #specializations li, #admin_navigation li {
 list-style: none;
   padding: 5px;
 }

#specializations li:hover, #admin_navigation li:hover, .active:hover {
   background-color: #5ce0da; 
}

.selected_spec, .active{
    background-color: #55cac5; 
}



#specializations li:hover, #admin_navigation li:hover, .doctors li:hover, .timelines .worktime, .weekly-table .schedule-item {
  cursor: pointer;
}

#admin_dashboard table thead {
  font-weight: bold;
}

#admin_panel {
  padding-top: 10px;
}

.admin_actions {
  text-align: right;
  width: 80px;
}

.admin_item_new {
  float: right;
}

.admin_create, .admin_delete{
  top: 20%;
  left: 45%;
  margin: 0 auto;
  width: 300px;
}


.nav_week
{
  position: relative;
  text-align: center;
  margin: 10px 0px 70px;
}

.nav_week div
{
  cursor: pointer;
  float: left;
  width: 100px;
  padding: 2px;
  background: #55cac5;
  margin-left: 15px;
  border-radius: 16px;  
  
}

.nav_week div:hover
{
  background: #5ce0da;
}


.modal-body select {
  width: 120px;
}

#new_schedule{
  width: 360px;

  tr td {
    font-size: 10pt;
    
    input {
      width: 35px;
    }
  }  
}

#period{
  width: 270px;

  input {
    width: 80px;
  }
    
}

#ticket_day, #ticket_month, #ticket_hours, #ticket_minutes {
  width: 15px;
}

#ticket_year {
  width: 40px;
}

.admin_schedule {
  position: relative;
  display: inline-block;
  width: 150px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  font-size: 9pt;

  ul {
    list-style: none;
    margin: 5px;
  }

  .admin_actions {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 80px;

  }
}

.hint {
  width: 160px;
  padding: 3px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #000000;
  color: #ffffff;
  font-size: 8px;
}