#under-head {
	margin-top: 2%;
}
header {
	width: 600px;
	height: 155px;
	background:url(/images/headpic.png) no-repeat;
	
}

#DocTable {
	text-align: center;
}

#list, #work-time {
	margin: 30px 0 20px 0;
	
}
#drop_menu_block {
	display:block; 
  min-width: 120px;
	position: static;
}

#list_item {
	background: 5adfd9;	
}

#list {
	width: 200px;
}

#work-time table {
	/*margin-top: 10px;*/
	width: 710px;
}

.select_ticket
{
  background-color: green !important;
}


.time_row span { 
  height: 24px;
  width: 21%;
  background: #CCCCF0;
  display: block;
  float: left;
  margin: 1px;
<<<<<<< HEAD
}

/*.span2{
  background-color: #3366CC;
}*/

/*#btn_login {
  background: #69ccc9;
}*/
=======
} 
>>>>>>> 480a6ed6d505733c8ca7e939bf729e82c818655f
