
 <table class = "table table-bordered table-condensed">
    <tr>
       <td>
         data/time
       </td>
       
       <%for(var i=0;i<9;i++) {%>
       
       <td>
         <%= 8+i %>:00
       </td>

       <%}%>

    <tr>

 </table> 

 <div class = "nav_week">

   <div id = "user_week_prev">
     prev week
   </div>

    <div id = "user_week_next">
     next week
    </div>
   
</div> 