
 <table class = "table table-bordered table-condensed">
    <tr>
       <td>
         data/time
       </td>
       
       <%for(var i=0;i<9;i++) {%>
       
       <td>
         <%= 8+i %>:00
       </td>

       <%}%>

    <tr>

 </table> 

